include LICENSE THIRD_PARTY_NOTICES.md requirements.txt requirements-lock.txt
recursive-include profiles *.json
recursive-include docs *.md
recursive-include tests *.py
recursive-include .github *.yml

include *-WebQA.bat *-WebQA.command
recursive-include examples *.py *.json

recursive-include notebooks *.ipynb *.json *.lock *.py
recursive-include scripts *.py
include Cloud-Inbox/README.txt
recursive-include tests/ui *.json *.cjs
prune tests/ui/node_modules
